body{
    overflow-y: none;
    overflow-x: none;
}
.c1{
    width:100%;
    height:70%;
    position:absolute
}
.solkap{
    width:40%;
    height:50%;
    bottom:10px;
    left:0px;
    position:absolute;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
}
.sağkap{
    width:40%;
    height:50%;
    bottom:10px;
    right:10px;
    position:absolute;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
}
.üstkısım{
    width:100%;
    height:50%;
    position:absolute;
}
.tuzköprüsü{
    left: 38%; 
    right: 38%; 
    margin-left: auto; 
    margin-right: auto;
    margin:auto;
    position:absolute;
    bottom:0px;
    background-repeat:no-repeat;
    background-size: cover;
    height:70px;
    background-image:url("../img/tuzmukoprusu.png");
}
.solCubuk{
    left:10%;
    position:relative;
    top:-20px;
    width:15%;
    height:85%;
    background-color:gray;
    
}
  
.sağCubuk{
    right:10%;
    position:absolute;
    top:-20px;
    width:15%;
    height:85%;
    background-color:gray;
    
}
.vMetreKSol{
    border-style: solid;
    border-width: 5px 0px 0px 5px;
    position: absolute;
    float: left;
    clear: none;
    left:8%;
    bottom:0px;
    background-color: transparent;
    width: 34%;
    height: 75%;
    
}
  
.vMetreKSağ{
    border-style: solid;
    border-width: 5px 5px 0px 0px;
    position: absolute;
    float: left;
    clear: none;
    right:8%;
    bottom:0px;
    background-color: transparent;
    width: 34%;
    height: 75%;
    
}
.voltmetre{
  text-align:center;
  font-size: 3.75vw; 
  border-color: #0000;
  border: 5px solid #000;
  width:15%;
  height:40%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
.altContainer{
    width: 100%;
    height: 18%;
    position: absolute;
    bottom: 0;
}
#cozelti1List{
    position: absolute;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
    background-color: white;
    border: 1px solid #000;
    display: none;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
#cozelti2List{
    position: absolute;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    display: none;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
#cozelti1ListKapat{
    text-align:center;
    font-size: 3.75vw;
    line-height: -15px; 
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #000;
    background-color: #fff;
    right: -10px;
    top: -10px;
}
#cozelti2ListKapat{
    text-align:center;
    font-size: 3.75vw;
    line-height: -15px; 
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #000;
    background-color: #fff;
    right: 0;
    top: 5px;
}

.birElement{
    width: 100px;
    height: 75px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 0.5px solid #000;
    position: relative;
    float: left
}



.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: absolute;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}